.login-box{
  display : flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width : 100%;
}
.login-form{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin: 5% 20% 0 0;
  justify-content: center;
  border: 1px solid rgb(240, 229, 229);
  padding: 5% 0 5% 0;
}
.input-form{
  width : 70%;
  margin: 1%;
  padding: 3%;
  border-radius: 6px;
  background: rgb(243, 239, 239);
}
button{
  width: 70%;
  margin: 2%;
  padding: 2%;
  border-radius: 6px;
  background: rgb(144, 144, 236);
  font-weight: bold;
  font-size: 14px;
}
button:hover{
  background: pink;
  color: rgb(10, 10, 82);
}
h1{
  font-size: 35px;
}
.textp{
  border: 1px solid rgb(240, 229, 229);
  width: 70%;
  text-align: center;
  margin: 2%;
}