/* ///////////Post Header /////////////// */
.post-header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}
.post-thumb{
  margin: 15% 30%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 5%;
}
.user-name{
  margin-left: 2%;
  text-align: center;
  padding: 1.5%;
}

/* Comment section */

.comment-sec{
  text-align: start;
  margin-left: 1rem;}
/* }
.like-border{
  border: 1px solid red;
  display: flex;
} */